.navbar {
   background-color: teal;
   background: transparent;
   border-color: transparent;
}
.navbar-default .navbar-nav>li>a {
    color: white;
    font-size: 18px;
    text-shadow: 1.5px 1.5px white;
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}
.navbar-default .navbar-brand {
    color: white;
    font-size: 21px;
    text-shadow: 2px 2px black;
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}
.btn {
  
    margin: 0 auto;
    bottom: 50px;
    width: 150px;
    background-color: #fff;
    border-radius: 300px;
    white-space: nowrap;
    font-weight: 700;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
} 

#datepickerBackground{
    text-align: center;
    background: rgba(225, 255,255,0.70);
     /*margin-bottom: 70%;*/
  margin-top: 10%;
}
#datepicker{
    color:black;
    font-weight: bolder;
}
#scheduleButton{
    background-color: rgba(255, 255,255,0.70);
}
/*footer{
    position: bottom;
    right:0;
    left:0;
    bottom: 0;
    padding:1rem;
    background-color: #009F8D;
    text-align: center;
}*/
#morningButtons{
    width:50%;
}
#afternoonButtons{
    width:50%;
}
.container{
  margin-top: 20%;
}
#jumbotron{
  margin-bottom: 50%;
  margin-top: 50%;
}
#scheduleButton{
 margin-bottom: 20%;
  /*margin-top: 20%;*/
}