<!DOCTYPE html>
 
</html> 
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">
  <title>Rush Hour</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- Custom styles for this template --><link href="/../public/css/authstyle.css" rel="stylesheet">
</head>
<style>
body{
  background-color: #F4F2F2;
  /*background-image: url("images/bbs.jpg");*/
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

main {
  flex: 1 0 auto;
}

h4{
  font-size: 50px;
  color: teal;
  font-family: 'Pacifico', cursive;
}
nav{
  background-color:#00CEB7;
}
.text-muted{
  color:white;
}
h3{
  color:teal;
  margin-top: 30px;
  text-align: center;
}
.login{
  color:teal;
}
.text, .password{
  color:teal;
}
.text{
  background-color: yellow;
}
#email{
  margin-right: 50px;
}
#id{
  margin-left: 50px;
}
.container{
  text-align: center;
}

</style>
<main>
<!-- <body> -->
<div class="header clearfix">
  <h3>Rush Hour</h3>
    <nav>
      <ul class="nav nav-pills float-right">
        {{#if user}}
          <li class="nav-item"><a class="nav-link active" href="/">Dashboard</a></li>
          <li class="nav-item"><a class="nav-link active" href="/users/logout">Logout</a></li>
        {{else}}
          <li class="nav-item"><a class="nav-link active"  href="/dashboard">Login</a></li>
          <li class="nav-item"><a class="nav-link active" href="/signup">Register</a></li>
          {{/if}}
      </ul>
    </nav>
</div>
<div class="row">
  <div class="col-lg-12">
    {{!-- {{{body}}} --}}<center>
    <div class="row">
   <!--  <img src="bbs.jpg"> -->
    </div>
    </center>
  </div>
</div>

<form id="signin" name="signin" method="post" action="signin">
  <div class="row">
    <form class="col s12">
      <div class="row" id="email">
        <div class="input-field col s6">
          <label for="email"></label>
          <input placeholder="Email Adress" class="text" name="email" type="email"/>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <label for="password"></label>
           <input placeholder="Password"  class="password" name="password" type="password"/>
           <input class="btn" type="submit" value="Sign In" />
        </div>
    </div>
  </form> 
</div>  

</main>
<script src="../../../../assets/js/ie10-viewport-bug-workaround.js"></script>
<footer class="page-footer teal accent-4">
    <div class="container teal accent-4">
      <div class="row">
        <div class="col l6 s12">
          <h9 class="white-text">Rush Hour</h9>
            <p class="grey-text text-lighten-4">Automate your busy schedule!</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="https://morning-tundra-29866.herokuapp.com/signin">RushHour</a></li>
              <i class="fa fa-github" aria-hidden="true"></i>
            </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright teal">
      <div class="container">
        © 2017 Copyright 
       <!--  <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
      </div>
    </div>
</footer>

  </body>
</html>